<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54260854405-1leq0ggpoch392pujeils0jj5soqthd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54260854405-1leq0ggpoch392pujeils0jj5soqthd4</string>
	<key>API_KEY</key>
	<string>AIzaSyB3H8zZ-xQ9FqW3Kx6v0PuBK9eakjsIz-0</string>
	<key>GCM_SENDER_ID</key>
	<string>54260854405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>technation.CoronaVirus</string>
	<key>PROJECT_ID</key>
	<string>coronavirus-ghana</string>
	<key>STORAGE_BUCKET</key>
	<string>coronavirus-ghana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54260854405:ios:666541696dfbb40d6743ec</string>
	<key>DATABASE_URL</key>
	<string>https://coronavirus-ghana.firebaseio.com</string>
</dict>
</plist>